body {
background-color: rgba(144, 201, 240, 0.747);
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

.inicio{
    display: flex;
    height: 100vh;
}

.foto{
    flex: 1;
    background-color: rgb(217, 238, 250);
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img{
    width: 300px;
    height: auto;
    border-radius: 8px;
}